body{
	background-color: skyblue;
	margin: 0px;
	padding: 0px;
	font-family: 'open sans', sans-serif;
}

.wrapper{
	width: 700px;
	margin: auto;
	position: relative;
}

.logo{
	font-size: 50px;
	font-weight: 800;
	float: left;
	font-family: courier;
}

.menu{

	float: right;
}

nav{
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #FFFFFF;
	z-index: 1;
	border-bottom: 1px solid #364F6B;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

section{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}

.kolom{
	margin-top: 50px;
	margin-bottom: 50px;
}